<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/index.css">
    <title>SMART Login</title>
</head>

<body>
    <div class="navBar">
        <div style="display: flex;">
            <a href="/">Home</a>
            <a href="/about">About SMART</a>
            <span class="navVer" style="font-size: 16px; padding: 26px 18px; cursor: default; margin-left: 20%;">Version 1.1.4</span>
        </div>
    </div>
    <div class="subBar">
        <p>About SMART Data Tracking System</p>
    </div>
    <div class="mainContent">
        <div class="overlay">
            <h2 style="opacity: 1;">What is SMART:</h2>
            <p>SMART is a data tracking system designed to turn raw JSON objects into readable charts and metrics. SMART is an intelligent system and database that stores JSON files and reads them so they can be parsed into readable data.</p>
        </div>
    </div>
    <script>
        function forgotId() {
            alert('Please Message An Administrator Through The Team Discord Server...')
        }
    </script>
</body>

</html>