<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/CSS/index.css">
    <title>4541 Data Visualization</title>
</head>

<body>
    <div class="navBar">
        <div style="display: flex;">
            <a href="/">Home</a>
            <span class="navVer" style="font-size: 16px; padding: 12px 13px; cursor: default; margin-right: auto; margin-left: auto;">Version 1.1.4</span>
        </div>
    </div>
    <br><br><br>
    <div class="allCont">
        <div class="mainLogo bg1">
            <br><br>
            <h1>Scouting App Visualization UI</h1>
            <br><br>
            <p>The Visualization Experience of the Future</p>
            <p>By: 4541 Scouting</p>
        </div>
        <div class="teamDataRequest bg2">
            <h1>Get data by team number:</h1>
            <div style="display: flex;">
                <input type="number" id="getTeamData" maxlength="4" class="inputTag" placeholder="Team #">
                <button onclick="getTeamDataInput()" class="Btn">Submit Request</button>
            </div>
        </div>
        <div class="getAvg bg2">
            <h1>Get Base Data:</h1>
            <button onclick="getAverage()" class="Btn">Get Data</button>
        </div>
        <div class="compare bg2">
            <h1>Compare Team Data:</h1>
            <input type="number" id="getTeamDataTeam1" class="inputTag" maxlength="4" placeholder="Team 1"><input type="number" maxlength="4" id="getTeamDataTeam2" class="inputTag" placeholder="Team 2">
            <button onclick="compareTeams()" class="Btn">Compare</button>
        </div>
        <div class="results bg1">
            <div class="wrapper">
                <h1>Results:</h1>
                <br>
                <div class="tabList">
                    <div class="headerBar">
                        <div class="readyBar" style="display: flex;">
                            <div class="redBar" onclick="closeTerminal()"></div>
                            <div class="yellowBar" onclick="closeTerminal()"></div>
                            <div class="greenBar" onclick="openTerminal()"></div>
                        </div>
                        <div class="clickableElement">
                            <div class="rank" onclick="getQuantitativePickList()" id="allianceCompare">Get Pick List</div>
                            <div class="rank" onclick="getAverage()" id="allianceCompare">Get Average Data</div>
                            <div class="rank" onclick="openTerminal()" id="allianceCompare">Open Console / Terminal</div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="scrollable">
                        <table cellspacing="50">
                            <tr>
                                <td>
                                    <img src="/public/CSS/loadingGif2.gif" style="display: none;" width="150px" height="auto" id="loading2">
                                </td>
                                <td>
                                    <div id="results" class="output"></div>
                                    <div id="terminal" class="terminal">
                                        <div class="innerTerm">
                                            <div id="output" class="termOutput"></div>
                                            <br>
                                            <input type="text" class="terminalCmd" id="cmd" onkeypress="submitCmd(event)" placeholder="Enter Command">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="getTeamRanks bg2">
            <h1>Get Pick List:</h1>
            <button onclick="getQuantitativePickList()" class="Btn">Get Quantitative List</button><br>
        </div>
        <br><br><br><br>
    </div>
    <script>
        let arr = [];

        function htmlDecode(input) {
            arr = (input.split(','));
        }
        var content = htmlDecode(`<%= content %>`);
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/JS/index.js"></script>
    <script src="/public/JS/terminal.js"></script>
</body>

</html>